<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.transverse">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_medishare"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_medishare"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activités.Activity_amis"
            android:label="@string/title_activity_amis"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".activités.activity_profil" />
        <activity
            android:name=".activités.Afficher_alarme"
            android:label="@string/title_activity_afficher_alarme"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activités.Accueil" />
        <activity android:name=".autres.Alarm_set" />
        <activity android:name=".activités.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".autres.AlertReceiver" />
    </application>

</manifest>